<div class="text content jumbotron">
  <table>
    <th><h2>№</h2></th>
    <th><h2>Name</h2></th>
    <th><h2>Quantity</h2></th>
    <th><h2>Price</h2></th>
    <tr *ngFor="let item of order.items ; let i = index">
      <td><h2>{{i+1}}</h2></td>
      <td><h2>{{item.name}}</h2></td>
      <td><h2>{{item.quantity}}</h2></td>
      <td><h2>{{item.price}}</h2></td>
      <td>
        <button (click)="deleteProduct(i)">delete</button>
      </td>
    </tr>
  </table>
  <h2>Total : {{util.total}}</h2>
  <button class="nav-btn" (click)="saveOrder(order)"><h1>save</h1></button>
</div>

